<body class="container"">
<div>
	<div class="container", style="background-color: white; opacity: 0.9; padding: 10px;">
		<div style="opacity: 0.9;">
			<% if user_signed_in? %>
				<p><%= link_to "Create New Post", new_post_path, class: "btn btn-primary" %></p>
			<% end %>
		</div>

		<div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">Current Postings</h1>
					<strong>Join The Discussion!</strong>
				</div>
			</div>
		</div>


		<% @posts.each do |post| %>
		<div class="container" style="background-color: white; opacity: 0.9; ">
			<div class="list-group">
				<div class="panel panel-primary">
					<section class="panel-heading">
					<h4><%= post.title %></h4>
				</section>
			</div>

			<%= link_to "View Message", post_path(post), class: "btn btn-primary" %>
			</div>
		</div>
	</div>
	<% end %>

<br><br><br><br>



</body>




