
<div style="background-color: white; opacity: 0.9; padding: 10px;">
	<div>
		<div>
			<% if user_signed_in? %>
				<p><%= link_to "Create New Post", new_post_path, class: "btn btn-primary" %></p>
			<% end %>
		</div>

		<div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="panel-title">Current Postings</i>
					<i>Join The Discussion!</i>
				</div>
			</div>
		</div>

		<!-- Listing all posts that has been created. -->
		<% @posts.each do |post| %>
			<div style="background-color: white; opacity: 0.9; padding: 10px;">
				<div class="list-group">
					<div class="panel panel-primary">
						<section class="panel-heading">
							<h4><%= post.title %></h4>
						</section>
					</div>

				<%= link_to "View Post", post_path(post), class: "btn btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
	

<br><br><br><br>




