<div style="opacity: 0.9; padding: 10px;">
	<div class="modal-content">
		<div class="panel-primary">
			<div class="panel-heading">
				<h1 class="modal-title">Create a new post</h1>
				
			</div>
		</div>
		<%= render 'form' %>
	</div>	
</div>
